@{
    ViewBag.Title = "About me";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        My name is Frits Duus and I have been working professionally with software development since 1996. You can find further 
        details about me here: <a href="http://dk.linkedin.com/in/fritsduus">dk.linkedin.com/in/fritsduus</a>
    </p>

    <p>
        For a number of years I pursued a career in management, but in the last couple of years I have realized that I am first 
        and foremost an engineer. I love to architect, design and implement software solutions and I like to lead and inspire 
        with my drive and my technical insight.
    </p>

    <p>
        With this blog I am setting my inner nerd free :-). I hope you will find some of the pieces to solve your challenges here at my blog.
    </p>
</article>

@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@